/* Write your code below for PORTFOLIO */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav{
  display: flex;
  flex-direction: row;
  gap: 7vw;
  align-items: center;
}

ul{
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.contact{
  display: flex;
  align-items: center;
}

a{
  text-decoration: none;
}