/* Write your code below for PORTFOLIO */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav{
  display: flex;
  flex-direction: row;
  gap: 25vw;
  align-items: center;
  color: #28e6ff;
  background-color: #004572;
  border: 2px solid #28e6ff;
  padding: 5px;
}

ul{
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.contact{
  display: flex;
  align-items: center;
  gap: 1vw;
}
.contact  button{
    padding: 8px;
    color: #28e6ff;
    background-color: transparent;
    border: 1px solid #28e6ff;
    border-radius: 15px;
}

a{
  text-decoration: none;
  color: #28e6ff;
}

.intro{
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: #004572;
}