/*  Start coding below for POSITION THE CUBES TASK*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    height: 300px;
    width:300px;
    position: relative;
    background-color: #675BC6;
}

.child{
    position: absolute;
    height: 100px;
    width: 100px;
}

.one{
    border: 2px solid white;
    background-color: #60B177;
}

.two{
    left: 200px;
    right: 200px;
    border: 2px solid white;
    background-color: #ED6D52;
}

.three{
    height: 50px;
    width: 50px;
    left: 125px;
    bottom: 125px;
    border: 2px solid white;
    background-color:#E087E8 ;
}

.four{
    bottom: 200px;
    top: 200px;
    border: 2px solid white;
    background-color:#F2A93B ;
}

.five{
    right: 0;
    bottom: 0;
    border: 2px solid white;
    background-color: #458EF7;
}